*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: brown;
}

a:hover{
color: aqua;
background-color: black;
}

a:active{
    color: chartreuse;
}

a:visited{
    color: black;
}

.container{
    height: 100px;
    width: 100px;
    background-color: aliceblue;
    transition: height ease-in-out 0.5s;
}

.container:hover{
    background-color: burlywood;
    cursor: pointer;
    color: brown;
    height: 50px;
}


.textWrapper p{
    display: none;
    color: blueviolet;
}

.textWrapper:hover p{
    display: block;
}
.textWrapper:hover{
    cursor: pointer;
}

.usersTable{
    border-collapse: collapse;
}

tr:first-child{
    background-color: navy !important;
    color:white;
}
.usersTable tr:nth-child(even){
    background-color: rgb(230, 230, 237);
}
.usersTable tr:nth-child(odd){
    background-color: rgb(244, 244, 244);
}
.usersTable th{
    padding: 5px 20px;
}
.usersTable td{
    padding: 5px 20px;
}

.usersTable tr:hover{
    background-color: rgb(204, 204, 224);
    cursor: pointer;

}

.iconSize{
    height: 20px;
    width: 20px;
}

.bg-blue{
    background-color: blue;
}